.pad-container{
    width:100%;
    display: flex;
    justify-content: center;
}
.pad{
    width: 392px;
    height: 490px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    justify-content: center;
}
.pad-elements{
    display: grid;
    grid-template-columns: auto auto auto;
}
.pad-element{
    cursor: pointer;
    border: 2px solid #DA2700;
    color: #DA2700;
    font-weight: bold;
    font-family: 'Inter', serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(254, 250, 220, 1);
    padding-bottom: 20px;
    width: 111px;
    height: 80px;
    margin: 10px;

}
.confirm-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -90px;
}
.create{
    width: 100% !important;
    color: white;
    background-color: #FF141E !important;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.confirm {
    width: 375px;
    height: 80px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}
.red {

    color: white;
    background-color: #DA2700;
}
.pad-element:hover{
    opacity: 0.7;
}
.liberrexTag{
    z-index: 999999;
    width: 100%;
    text-align: center;
    color:#9C9C9C;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}
.homePageContainer {
    position: absolute;
    overflow-x: hidden;
    top:0;
    left: 0;
    min-height: 1920px;
    justify-content: center;
    padding: 80px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    text-align: center;
}
.loginContainer{
    position: absolute;
    top:0;
    left: 0;
    min-height: 1920px;
    background-color: #FCDF4A;
    justify-content: center;
    padding: 80px;
    height: 100%;
    width: 100%;
    text-align: center;
}
.inputContainer{
    display: flex;margin-bottom: 20px;justify-content: center;
}
.newClientInput{

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    width: 50%;
    height: 100px;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    background: #FFFFFF;
    border: none !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.selected-def :disabled {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.12) !important;
}
.newClientInput::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.12);
}

.loginInput{

    width: 100%;
    height: 100px;
    margin-top: 20px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.12);

    font-family: 'Inter', serif;
    font-style: normal;
    color: black;
    font-weight: 500;
    font-size: 55px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.loginInput::placeholder{
    font-family: 'Inter', serif;
    font-style: normal;
    color: lightgrey;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.welcomeContainer{
    overflow-y: hidden;
    cursor: pointer;
    margin-right: -10px;
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: center;
    width: 100%;
    min-height: 1920px;
    background-color: #333333;
}
.welcomeContainer img{
    width: 52%;
}

.main-dashboard{
    margin-left: 290px;
    margin-top: 100px;
}
.borne{
    margin-right: 70px;
    height: 280px;
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center
}

.stations{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.station-container{
    margin-left: -20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.borne-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 4rem;
}

.spinner{
    margin-top: 50px;width: 150px;height: 150px;
}
.spinner-container{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.scan-text {
    width: 100%;
    text-align: center;
    height: 68px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.scan-text-2 {
    width: 100%;
    height: 36px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FF141E;
}

.otp-input {
    width: 120px;
    height: 100px;
    padding: 5px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}
/* Background colour of an input field with value */
.otp-input.is-complete {
    background-color: #e4e4e4;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp-input::placeholder {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

.header-container{
    width:100%;
}
.button-container{
    float: right;
    margin-right: 100px;
    margin-top: 22px;
}

/* Modal container */
.dialog-container {
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal box */
.dialog-box {
    position: relative;
    background-color: #fefefe;
    border-radius: 0.25rem;
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* Modal header */
.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

/* Modal title */
.dialog-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
}

/* Modal close button */
.dialog-close {
    padding: 0.5rem 0.75rem;
    margin: -0.5rem -0.75rem -0.5rem auto;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: 0.5;
    transition: opacity 0.15s linear;
}

.dialog-close:hover,
.dialog-close:focus {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

/* Modal body */
.dialog-body {
    padding: 1rem 0;
}

/* Modal footer */
.dialog-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.5rem;
    border-top: 1px solid #dee2e6;
}

/* Modal buttons */
.dialog-button {
    margin-left: 0.5rem;
}

.question-info{
    margin-top: 4px;
    margin-left: 8px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    font-size: 8px;
    border-radius: 120px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.homePageTitle{
    margin-top: 34px;
    margin-left: 29px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
}
.stationImage{
    margin-left: -40px;
}

.advertisement{
    position: absolute;
    top:0;
    left:0;
    height: 400px;
    width: 100%;

}

.mini-advertisement{
    position: absolute;
    top:0;
    left:0;
    height: 100px !important;
    max-height: 100px !important;
    width: 100%;

}
.mini-advertisement img {
    width: 100%;height: 160px !important;
}
.barcodeTag {
padding-top: 20px;
padding-left: 46px;
display: flex;
position: absolute;
background-color: #2B2B2B;
margin-top: 320px;
left: 0;
width: 100%;
height: 148px;
}
.advertisementTag{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
}

.mainDiv{
    padding-top: 100px;
    margin-top: 520px;
    width: 100%;
    left: 0;
    position: absolute;
}
.mainButtonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 9999;
}
.mainMenuButton{
    text-align: left;
    width: 450px;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 30px;
    background-color:#FCDF4A ;
    color:#FF141E;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
}

.summary-title{
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;
    color: #FF141E;
}

.user-info{
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
    color: #5F5F5F;
}

.consultation-title{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 80px;
    color: #FF141E;
}

.service-list-item{
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
    color: #5F5F5F;
}

.cancelBtn{
    background-color: #FF141E;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;

    color: #FFEF00;
    width: 423px;
    height: 100px;
}

.printBtn{
    background-color: #FFEF00;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;

    color: #FF141E;
    width: 423px;
    height: 100px;
}

.products-title{
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FF141E;
}

.selected-category {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;

    color: #5F5F5F;
}

.side-bar{
    padding-top: 28px;
    background: linear-gradient(270deg, #FFD600 0%, #FFEF00 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    height: 100%;
    width: 180px;
    left: 0;
    top: 0;
}

.category{
    margin-bottom: 3px;
    padding: 15px 5px 5px;
    text-align: center;
    background: rgba(255, 20, 30, 0.06);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FF141E;
}

.category-icon{
    color: white;
    font-size: 72px;
}

.products {
    margin-left: 120px;
    padding: 20px;
}

.product {
    width: 231px !important;
    height: 294px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: white;
}

.priceTage{
    background: linear-gradient(180deg, #FF141E 0%, #C7171F 100%);
    width: 83px;
    padding-left: 2px;
    padding-right: 2px;
    height: 28px;
    position: absolute;
    margin-top: 160px;
    margin-left: 150px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.diagnostic-th {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 90% !important;
    height: 50px;
    line-height: 29px;
    padding-top: 10px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 239, 0, 0.16) !important;
    color: #000000;
}
.diagnostic-td{
    width: 100% !important;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: -300px !important;
    padding-bottom: -200px;
    font-weight: 400 !important;
    background: rgba(255, 239, 0, 0.05) !important;
}
.service-label{
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}

.buttons {
    position: absolute;
    top: 87%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.diagnostic-checkbox{
    border: 1px solid #FFEF00;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.diagnostic-checked{
    background-color: #FF141E;
}

.wheel-of-fortune{
    justify-content: center;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 1920px;
    background: url("./images/wheel-bg.png") no-repeat center fixed;
    background-size: cover;
}

.wheel-container{
    filter: drop-shadow(0 0 1rem black);
    position: absolute;
    overflow: hidden;
    width: 1350px !important;
    max-width: 1350px !important;
    min-width: 1350px !important;
    height: 1400px !important;
    max-height: 1400px !important;
    min-height: 1400px !important;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    z-index: 999;
    background: url("./images/wheel.png") no-repeat center;
    background-size: 130%;

}
.chances {
    position: absolute;
    width: 69%;
    margin-top: 136px !important;
    padding-bottom: 69%;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    z-index: 999;
    transition: transform 2s ease-out;
}
.chance {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    -moz-border-image: -moz-linear-gradient(90deg, rgba(167,143,111,1) 0%, rgba(101,34,8,1) 35%, rgba(157,120,92,1) 133%);
    -webkit-border-image: -webkit-linear-gradient(90deg, rgba(167,143,111,1) 0%, rgba(101,34,8,1) 35%, rgba(157,120,92,1) 133%);
    border-image: linear-gradient(90deg, rgba(167,143,111,1) 0%, rgba(101,34,8,1) 35%, rgba(157,120,92,1) 133%);
    -webkit-border-image-slice: 2;
    border-image-slice: 2;
    border-width: 3px;
    border-style: solid;
    transform-origin: 0% 100%;
}

.chance-label {
    position: absolute;
    left: -95%;
    width: 200%;
    height: 200%;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}


.cart-main{
    margin: 0;
    position: absolute;
    min-width: 100%;
    padding: 0;
    background: rgba(255,255,255,0.4);
    height: 100%;
    justify-content: right;
}
.cart-container{
    min-height: 200px;
    padding-bottom: 80px;
    width: 70%;
    float: right;
    margin-top: 60px !important;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.cart-header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-heading{
    display: flex;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
}
.cart-action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    margin-top: -40px;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}
.cart-items-container{
    max-height: 800px;
    width: 100%;
    overflow-y: auto;
}
.cart-items{
    margin: auto;
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-image-box{
    width: 8%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}
.cart-about{
    height: 100%;
    padding-left: 60px;
    width: 50%;
}
.cart-title{
    padding-top: 37px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}
.cart-subtitle{
    margin-top: 25px;
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
}
.cart-counter{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-btn-disabled{
    color: #202020;
    background-color: #d9d9d9;
    cursor: default !important;
}
.cart-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    cursor: pointer;
}
.cart-count{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
}


.cart-prices{
    height: 100%;
    width: 15%;
    text-align: right;
}
.cart-amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}
.cart-remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}


.cart-hr{
    width: 66%;
    float: right;
    margin-right: 5%;
}
.cart-checkout{
    margin-bottom: 70px;
    width: 100%;
    margin-top: 50px;
}
.cart-total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cart-subtotal{
    font-size: 22px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #202020;
}
.cart-items-count{
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}
.cart-total-amount{
    font-size: 36px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    margin-top: -10px;
    color: #202020;
}
.cart-button{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 600;
}


.v-enter-active,
.v-leave-active {
    transition: opacity 0.7s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}